<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Handlers -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Rewrite all requests to server.js if file doesn't exist -->
    <rewrite>
      <rules>
        <rule name="NodeApp" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- CORS headers at IIS level -->
    <httpProtocol>
      <customHeaders>
        <!-- Replace with your frontend origin; * allows all origins -->
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
      </customHeaders>
    </httpProtocol>

    <!-- iisnode configuration -->
    <iisnode
      nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;"
      loggingEnabled="false"
      devErrorsEnabled="false"
    />

  </system.webServer>
</configuration>
